<html>

<head>
    <title>

        change password page
    </title>
    <link rel="stylesheet" href="/css/style.css">


</head>

<body class="body-changepwd">
    <form action="/changepassword/change2" method="post" class="formchange">
        <input type="text" hidden id="id" name="id">
        <div class="changepage">
            <div class="signpagebox">


                <div class="changechild">


                    <div class="back" onclick="history.back()">

                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            width="25" height="25" viewBox="0 0 256 256" xml:space="preserve">

                            <defs>
                            </defs>
                            <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                                transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                                <polygon points="65.36,0 69.64,4.28 28.92,45 69.64,85.72 65.36,90 20.36,45 "
                                    style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                                    transform="  matrix(1 0 0 1 0 0) " />
                            </g>
                        </svg>

                    </div>
                    <div class="h2data">

                        <h2 class="h1chnagetag">
                            Change Your Password
                        </h2>
                    </div>
                </div>



                <div class="fillupdata">





                    <div class="pwd1border">
                        <input type="password" name="password_old" id="password_old" class=" squre1 password_old"
                            placeholder="    Current Password">
                    </div>

                    <div>
                        <input type="password" onclick="matchpwd()" name="password_new" id="password_new"
                            class=" squre1 password_new" placeholder="   New  password">
                    </div>

                    <div>
                        <input type="password" name="password_renew" id="password_renew" class=" squre1 password_renew"
                            placeholder="  Confirm password">
                    </div>


                    <div>
                        <p id="errormatch">

                        </p>
                    </div>


                </div>
            </div>
            <div class="changepwdsave">

                <input type="submit" value="save" class="submit-change">
            </div>
        </div>

    </form>

    <script>

        function matchpwd() {

            let password = document.getElementById("password_new").value;
            let con_password = document.getElementById("password_renew").value;




            var regex1 = /((?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W]).{6,20})/;
            var pass1 = regex1.test(password);
            if (password == "" || !(pass1)) {
                document.getElementById("errormatch").innerHTML = "Please enter valid password that contain capital alphabet,small alphabet,special character,length(6-20)";
                return false;
            }
            else {
                document.getElementById("errormatch").innerHTML = "";

            }
            if (con_password != password) {
                document.getElementById("errormatch").innerHTML = "Password doesn't match";
                return false;
            }
            else {
                document.getElementById("errormatch").innerHTML = "";

            }
        }






    </script>
</body>

</html>