<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="body-edit">
    
<div class="wholeweb">

    <div class="boxdata">
<div class="txtdataedit">


<div class="topflx ">
<div class="topflx1 ">


    <div onclick="history.back()"  class="top1">
        <svg class="svg-icon" style="width: 2em; height: 2em;vertical-align: middle;fill: #000000; currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M523.662 510.979l345.262-346.825c6.308-6.336 6.284-16.586-0.052-22.895-6.337-6.307-16.586-6.286-22.895 0.052l-345.158 346.721-345.159-346.722c-6.308-6.336-16.558-6.36-22.895-0.052s-6.36 16.558-0.052 22.895l345.263 346.826-345.263 346.824c-6.307 6.336-6.285 16.586 0.052 22.895 3.158 3.143 7.291 4.716 11.422 4.716 4.156 0 8.31-1.59 11.473-4.768l345.159-346.721 345.159 346.721c3.164 3.177 7.319 4.768 11.473 4.768 4.131 0 8.263-1.571 11.422-4.716 6.336-6.308 6.36-16.558 0.052-22.895l-345.263-346.824z"  /></svg>

    </div>
    <div class="top2">
        <h3 class="h3data">Edit Data</h3>
    </div>
</div>
    <div class="savebtn">
        <a  class="savebtn1" href="">Save</a>
    </div>

</div>




<div class="card1">
    <div class="">
        <img src="/files/1a83c828b67134a9b2ab348a0fb5d807 "class="card_background_img1" alt="">
<div class="dataflxedit">

<div class="icondiv1">


        <a class="iconaddpic" href="">
            <svg  fill="#ffffff" class="iconedit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="add-photo"><path d="M20,10.5a1,1,0,0,0-1,1v7a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1H6a1,1,0,0,0,1-.68l.54-1.64a1,1,0,0,1,.95-.68H14a1,1,0,0,0,0-2H8.44A3,3,0,0,0,5.6,6.55l-.32,1H4a3,3,0,0,0-3,3v8a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3v-7A1,1,0,0,0,20,10.5Zm-9-1a4,4,0,1,0,4,4A4,4,0,0,0,11,9.5Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,11,15.5Zm11-11H21v-1a1,1,0,0,0-2,0v1H18a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0v-1h1a1,1,0,0,0,0-2Z">

            </path>
        </svg>
    </a>
</div>
<div class="icondiv1">


<a class="iconaddpic" href="">
    <?xml version="1.0" encoding="iso-8859-1"?>
<!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg fill="#ffffff" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
	 width="20px" height="20px" viewBox="0 0 482.428 482.429"
	 xml:space="preserve">
<g>
	<g>
		<path d="M381.163,57.799h-75.094C302.323,25.316,274.686,0,241.214,0c-33.471,0-61.104,25.315-64.85,57.799h-75.098
			c-30.39,0-55.111,24.728-55.111,55.117v2.828c0,23.223,14.46,43.1,34.83,51.199v260.369c0,30.39,24.724,55.117,55.112,55.117
			h210.236c30.389,0,55.111-24.729,55.111-55.117V166.944c20.369-8.1,34.83-27.977,34.83-51.199v-2.828
			C436.274,82.527,411.551,57.799,381.163,57.799z M241.214,26.139c19.037,0,34.927,13.645,38.443,31.66h-76.879
			C206.293,39.783,222.184,26.139,241.214,26.139z M375.305,427.312c0,15.978-13,28.979-28.973,28.979H136.096
			c-15.973,0-28.973-13.002-28.973-28.979V170.861h268.182V427.312z M410.135,115.744c0,15.978-13,28.979-28.973,28.979H101.266
			c-15.973,0-28.973-13.001-28.973-28.979v-2.828c0-15.978,13-28.979,28.973-28.979h279.897c15.973,0,28.973,13.001,28.973,28.979
			V115.744z"/>
		<path d="M171.144,422.863c7.218,0,13.069-5.853,13.069-13.068V262.641c0-7.216-5.852-13.07-13.069-13.07
			c-7.217,0-13.069,5.854-13.069,13.07v147.154C158.074,417.012,163.926,422.863,171.144,422.863z"/>
		<path d="M241.214,422.863c7.218,0,13.07-5.853,13.07-13.068V262.641c0-7.216-5.854-13.07-13.07-13.07
			c-7.217,0-13.069,5.854-13.069,13.07v147.154C228.145,417.012,233.996,422.863,241.214,422.863z"/>
		<path d="M311.284,422.863c7.217,0,13.068-5.853,13.068-13.068V262.641c0-7.216-5.852-13.07-13.068-13.07
			c-7.219,0-13.07,5.854-13.07,13.07v147.154C298.213,417.012,304.067,422.863,311.284,422.863z"/>
	</g>
</g>
</svg>
</a>
</div>
</div>    <!-- 
    <img src="/files/1a83c828b67134a9b2ab348a0fb5d807" alt=""> -->
    </div>
    <div class="">
        <img src="/files/5e3fed889ee5ee5770cf453491760d84" class="card_profile_img1" alt="">
        <div class="icondiv12">


            <a class="iconaddpic" href="">
                <svg  fill="#ffffff" class="iconedit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="add-photo"><path d="M20,10.5a1,1,0,0,0-1,1v7a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1v-8a1,1,0,0,1,1-1H6a1,1,0,0,0,1-.68l.54-1.64a1,1,0,0,1,.95-.68H14a1,1,0,0,0,0-2H8.44A3,3,0,0,0,5.6,6.55l-.32,1H4a3,3,0,0,0-3,3v8a3,3,0,0,0,3,3H18a3,3,0,0,0,3-3v-7A1,1,0,0,0,20,10.5Zm-9-1a4,4,0,1,0,4,4A4,4,0,0,0,11,9.5Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,11,15.5Zm11-11H21v-1a1,1,0,0,0-2,0v1H18a1,1,0,0,0,0,2h1v1a1,1,0,0,0,2,0v-1h1a1,1,0,0,0,0-2Z">
    
                </path>
            </svg>
        </a>
    </div> <!-- <img src="/files/1a83c828b67134a9b2ab348a0fb5d807" alt=""> -->
    </div>
   


    <div class="col m-2">
        <input placeholder="name" type="text" class="form-control " id="inputEmail3">
      </div>
      <div class="col  m-2 "> <input placeholder="bio" type="text" class="form-control textarea" id="inputEmail3">  </div>


    <div class="editdata">
        <label for="exampleFormControlInput1" class="form-label"> Birth Date :</label> <input type="date" class="bdate">
        <!-- <label for="exampleFormControlInput1" class="form-label"></label> -->
    </div>





</div>




    </div>

</div>
</div>


</body>
</html>