<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home page</title>
</head>

<body>
    <div class="container">
        <div class="row">

            <section>
                <div class="col_nav">
                    <div>
                        <i class="fa-brands fa-twitter fa-3x"></i>
                        <div class="sidebarOption active">
                            <span class="nav-icons"><i class="fa-solid fa-house-user"></i></span>
                            <h2>Home</h2>
                        </div>
                        
                        <div class="sidebarOption">
                            <span class="nav-icons"><i class="fa-solid fa-user"></i></span>
                            <h2>Profile</h2>
                        </div>

                        <div class="tweet_tag">
                            <a href="" class="tweet">Tweet</a>
                        </div>
                        <h1>Welcome <%=data %></h1>
                        <a href="/logout"><h2>Logout</h2></a>
                    </div>
                </div>
            </section>



            <section>
                <div class="col_tweet">
                    <h2>Home</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas doloribus enim modi assumenda.
                        Officia reiciendis excepturi illum, voluptate repellendus adipisci autem quod, perspiciatis at
                        odit, totam eos molestias temporibus eveniet voluptas! Possimus, quam? Unde illum rerum
                        assumenda cum ex accusamus deserunt sint dolorem facere voluptatem. Molestias delectus voluptas,
                        in ratione maxime alias qui sed numquam est odit consequuntur, modi ut voluptatum quae.
                        Accusamus ipsam corrupti voluptatum beatae, quo harum sequi optio ipsa possimus tempore, vitae
                        magnam nobis. Vel, tempora voluptatibus sint aliquid quibusdam magnam harum necessitatibus aut
                        maxime tenetur sunt commodi illum officia minima. Cupiditate eaque distinctio, obcaecati
                        temporibus, quidem praesentium harum adipisci impedit officia atque, repellat facere porro
                        quibusdam est. Ex dolore ipsa eos amet eligendi odio corrupti dicta odit debitis sapiente
                        suscipit corporis officiis minus nostrum aspernatur, numquam delectus ratione reiciendis? Unde
                        sint accusamus cumque hic tempora ut. At libero accusamus ullam debitis vel quod rem eligendi
                        sequi. Dignissimos nulla similique quod sint neque sapiente omnis natus consectetur expedita
                        iste dolor suscipit aut impedit facere libero debitis magnam illum inventore voluptatem facilis
                        officia, provident molestias. At iusto aut quae beatae tempora velit minus tempore molestiae
                        voluptatum in aliquam quod dolor pariatur animi unde recusandae commodi consectetur inventore
                        autem culpa, nam veritatis itaque perspiciatis corrupti. Corporis eos ipsa, id harum quibusdam
                        architecto doloremque omnis, quisquam fugit voluptates, minima eius labore ab ratione unde
                        aperiam minus! Atque pariatur non assumenda hic molestiae amet neque, maxime ratione,
                        voluptatibus rem quas minus expedita sunt? Repellendus fuga, nostrum similique amet quibusdam
                        ipsam accusantium ipsa aut maxime ullam aliquid ex quaerat dicta rem eaque incidunt dolorum
                        culpa, consequuntur iure laborum? Odit, voluptatum ipsam vel, amet molestiae aspernatur nesciunt
                        expedita exercitationem laborum eaque praesentium eius quo aperiam explicabo vitae animi
                        provident reiciendis quasi blanditiis delectus, iste quas quis. Ipsum sit libero beatae
                        distinctio magnam itaque. Beatae, enim omnis iusto vel quis officia dolore blanditiis iste
                        perspiciatis cumque velit id alias quae cupiditate explicabo sit recusandae. Nam eveniet et
                        sapiente suscipit! Deserunt eaque aliquid adipisci quisquam facilis facere numquam perspiciatis
                        reprehenderit dolore consequatur animi, eius aspernatur dolorem rem architecto temporibus
                        aliquam labore odit? Ea odit ut sequi? Quas praesentium ipsa voluptas exercitationem magnam at
                        laboriosam doloribus unde accusamus! Beatae, dolorem. Quod nesciunt eum doloremque cupiditate
                        quia laborum aspernatur! Itaque, doloribus assumenda nostrum cupiditate saepe velit, alias nisi
                        sit ullam laboriosam ut natus, vitae tempore. Laborum non veritatis numquam rerum. Iusto
                        consequuntur explicabo nemo iure animi culpa, laboriosam tenetur illum nihil distinctio est
                        quis? Dolore inventore laboriosam culpa modi sapiente accusamus in provident, necessitatibus
                        voluptatem? Harum aliquam impedit odit minima deleniti est sed autem molestias sit! Voluptates
                        vel neque, harum quasi voluptatem rerum odio nesciunt autem fuga eum quisquam nostrum ipsa
                        perferendis voluptate illum, est distinctio dolor explicabo assumenda natus dolores. Quae cumque
                        consectetur aperiam vero aut ipsam eveniet in animi, magnam soluta distinctio temporibus ipsa
                        fugiat consequuntur asperiores aliquid, ab iusto dignissimos facilis laborum, sapiente accusamus
                        quaerat expedita ipsum! Vel similique vero vitae assumenda incidunt mollitia explicabo deleniti
                        excepturi veritatis dolorum ex impedit quae cum voluptatem dignissimos adipisci, deserunt odit
                        minus cumque voluptate quod atque. Sit totam facilis quos rem qui culpa repellendus enim, at
                        distinctio eos obcaecati, non atque, quis odio fugit ipsa quae expedita nam animi beatae fuga
                        tempore soluta maiores neque. Dignissimos maxime modi, veniam suscipit cupiditate architecto
                        sequi totam corporis quo temporibus fugiat quas officiis. Tempora, dolore. Exercitationem quae
                        doloribus, sit veniam tenetur aperiam, velit adipisci corrupti assumenda veritatis odit
                        architecto maxime distinctio magnam dolores sequi quos. Commodi, voluptates. Enim eum quis ea
                        neque? Accusantium molestiae aliquid corporis rerum maxime distinctio, iste eum consectetur
                        dolor numquam, totam sequi similique nostrum. Dolor magni nostrum perferendis velit minima,
                        impedit placeat labore amet quisquam dolore facilis ex dolores cum laudantium consequatur a
                        eaque ratione! Esse repellat, sint commodi molestiae harum incidunt dolores dolore nisi,
                        expedita odit nam at hic repellendus fugiat quia voluptate voluptatibus veritatis qui provident
                        in. Libero et voluptas iusto tempore, praesentium fugit laudantium nihil. Consequuntur autem
                        modi aspernatur. Eum, fugit quis! Ea sequi sit perspiciatis nulla consectetur esse assumenda
                        corrupti ullam iste, at dolor, exercitationem vel, expedita ipsum labore error? Placeat tenetur
                        optio error ipsam expedita doloremque illo, obcaecati, fugit dolores, minima veritatis. Aut,
                        officiis molestiae voluptas architecto modi rem consectetur maxime saepe, totam soluta, quae
                        dolor magnam nam libero cumque non possimus ducimus hic vero a? Illum, similique maiores
                        molestiae nam cum repudiandae et. Ab cum laudantium fugiat magnam, facere ea ut aperiam ipsa
                        voluptas sapiente perferendis veniam id asperiores tempore enim neque voluptates, ad error
                        aspernatur doloremque exercitationem? Maxime iste quasi, molestias qui minus ex repellendus ipsa
                        atque illo dolores eveniet praesentium sunt possimus labore nobis! Laudantium vero architecto
                        cupiditate porro, facilis nostrum? Tenetur, fuga explicabo obcaecati aliquam similique, vero
                        error ipsa debitis consequatur sequi quae a eius eveniet, sapiente laboriosam ullam recusandae
                        non totam qui reiciendis perferendis incidunt. Placeat sint, officiis dicta eum velit aliquam
                        expedita non reprehenderit quasi labore laudantium quisquam minima dolorum numquam obcaecati
                        quidem impedit asperiores vitae consequuntur omnis architecto. Reiciendis, maiores? Consequuntur
                        dolore doloremque repellat ratione hic fugiat sit animi blanditiis. Quasi aliquid voluptatum
                        eveniet, deleniti excepturi itaque inventore cupiditate, eos, earum ad non voluptas beatae
                        velit! Est quae dignissimos ipsam, iusto vitae provident laboriosam corporis aliquam odit in,
                        repellat soluta iure illum consequatur aliquid, deserunt ipsa perferendis veritatis nulla beatae
                        aut nostrum architecto. Fuga tempore distinctio sit quos beatae quo aut dolores quod optio nulla
                        minima maxime obcaecati accusamus, voluptatem harum quis asperiores natus? Nulla doloribus ipsum
                        quisquam fuga. Illum minus aliquid inventore facere dolores, harum praesentium quidem id
                        blanditiis non dolorem commodi labore debitis ut quas a deleniti ratione omnis molestias! Dolor
                        dolorum autem vero, placeat et tempore. Ducimus provident necessitatibus doloremque excepturi
                        asperiores nihil facere, veniam dolor inventore, vitae reprehenderit quo, ea consequatur iste
                        repellat cum mollitia alias minus harum id. Temporibus eum ipsum illum quas qui dolor
                        reprehenderit accusantium voluptatibus placeat! Beatae cum sapiente possimus, aut, expedita
                        omnis magnam porro nihil deserunt eum esse quaerat harum itaque blanditiis aspernatur optio
                        sequi magni molestiae illo, neque qui. Dolor sit veniam voluptates suscipit?</p>
                </div>
            </section>

            <section>
                <div class="col_search">
                    <!-- <div class="widgets__input">
                          <span class="material-icons widgets__searchIcon"><i class="fa-solid fa-magnifying-glass"></i></span>
                          <input type="search" placeholder="Search" class="widgets__input" />
                        </div> -->
                    <!-- <div class="widgets__input1">
                            <form action="/action_page.php">
                              <input type="text" placeholder="Search.." name="search">
                              <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div> -->
                    <div class="widgets">
                        <div class="widgets__input">
                            <span class="material-icons widgets__searchIcon">
                                <i class="fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" placeholder="Search" />
                        </div>
                    </div>
            </section>


        </div>
    </div>
</body>

</html>
Footer