<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Registration......</title>
    <link rel="stylesheet" href="/css/log_reg.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body class="body-align">
    <form action="/login/login" onsubmit="return validation()" method="post" class="form1 card">
        <div class="card_profile_img"></div>
        <div class="whole-txt pt-4 ps-5 pe-5 pb-5">

            <h2 class="mb-4">Sign into Twitter</h2>
            

            <div class="login__field">
                <i class="login__icon fa-solid fa-envelope"></i>
                <input type="hidden" name="database" id="database" value="<%=c%>">
                <input type="email" name="email" id="emaill" class="login__input" placeholder="email">
                <p id="strerr" class="error_msg"><%=str%></p>
            </div>


            <div class="login__field">
                <i class="login__icon fa-solid fa-key"></i>
                <input  type="password" name="password" id="pass" class="login__input" placeholder="password">
            </div>

            <div class=" d-grid gap-2 col-15 mb-4 ms-5 me-5 mt-5">
                <!-- <a href="#" class="btnsubmit">Submit</a> -->
                <input type="submit" id="sub" value="Sign up" class="btnsubmit"/>
            </div>

            <div class=" d-grid gap-2 col-15 mb-4 ms-5 me-5">
                <a href="#" class="btnforget">Forgot Password</a>
            </div>

            <div class=" textfora mb-4">
                <p class="minitxt">Don't have an account? 
                    <a href="/registration/register" class="links">Sign Up</a>
                </p>
            </div>
        </div>
    </form>
</body>

<script>
  var c=0;
  function validation()
  {
     var email = document.getElementById('emaill').value;
     var password = document.getElementById('pass').value
    var data=document.getElementById("database").value
     if(email == "")
     {
        document.getElementById('strerr').innerHTML = "please enter email";
        document.getElementById("fail").value=c
        return false;
     }
     else
     {
        document.getElementById('strerr').innerHTML="";
     }

     if(password == "")
     {
        document.getElementById('strerr').innerHTML = "please enter password";
        document.getElementById("fail").value=c
        return false;
     }
     else
     {
        document.getElementById('strerr').innerHTML="";
     }
     
  }
</script>

</html>