<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile_info</title>
    <link rel="stylesheet" href="/css/profile_info.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="profile">
            <div class="logo">
                <i class="fa-brands fa-twitter fa-3x"></i>
            </div>
            <div class="row">
                <form action="/info/pro_info" method="post" enctype="multipart/form-data">
                    <div class="info_content col-25">
                        <label for="image">
                            <i class="fa-solid fa-image fa-2x"></i>
                        </label>
                        <input type="file" id="image" name="img" style="display: none;" onchange="previewImage(event)">

                        <img  id="preview" class="user_img" name="profile_img">
                     
                    </div>

                    <div class="col-75">

                        <div>
                            <input type="text" id="contact" name="contact" placeholder="Phone number..">
                        </div>

                        <div>
                            <input type="date" id="dob" name="dob" placeholder="Date of Birth..">
                        </div>

                       

                        <div>
                            <input type="text" id="bio" name="bio" placeholder="Bio..">
                        </div>


                    </div>
                    <div>
                        <input type="submit" value="Submit" class="sub_btn" id="sub_btn">
                        
                    </div>
                    <div>
                        <a href="/login/login" class="sub_btn">Skip</a>
                    </div>

                </form>
            </div>
        </div>
    </div>
    </div>
    <script>
        const previewImage = (event) => {
            /**
            * Get the selected files.
            */
            const imageFiles = event.target.files;
            /**
            * Count the number of files selected.
            */
            const imageFilesLength = imageFiles.length;
            /**
            * If at least one image is selected, then proceed to display the preview.
            */
            if (imageFilesLength > 0) {
                /**
                * Get the image path.
                */
                const imageSrc = URL.createObjectURL(imageFiles[0]);
                /**
                * Select the image preview element.
                */
                const imagePreviewElement = document.querySelector("#preview");
                /**
                * Assign the path to the image preview element.
                */
                imagePreviewElement.src = imageSrc;
                /**
                * Show the element by changing the display value to "block".
                */
                imagePreviewElement.style.display = "block";
            }
        };
    </script>
</body>

</html>