<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter Clone - Final</title>
  <link rel="stylesheet" href="/style.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <input type="text" hidden name="id" id="id">
  <div class="whole-web">
    <div class="container">


      <div class="flexdata">


        <!-- sidebar starts -->
        <%-include("staticpart1")-%>
      </div>
      <!-- sidebar ends -->

      <!-- feed starts -->
      <div class="feed">



        <div class="feed__header">
          <div class="header" id="myHeader">





            <div class="unameandarroo">


              <div onclick="history.back()" class="arrowicon">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                  width="32" height="32" viewBox="0 0 256 256" xml:space="preserve">

                  <defs>
                  </defs>
                  <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
                    transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
                    <polygon points="65.36,0 69.64,4.28 28.92,45 69.64,85.72 65.36,90 20.36,45 "
                      style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,0,0); fill-rule: nonzero; opacity: 1;"
                      transform="  matrix(1 0 0 1 0 0) " />
                  </g>
                </svg>
              </div>

              <div>

                <h2> Tulsi Dholariya </h2>
                <p class="lighttxt">
                  1 Tweet
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- tweetbox starts -->
        <div class="feed-contain">
          <div class="mainprofile">


            <div class="card">
              <div class="card_background_img">

              </div>
              <div class="card_profile_img">

              </div>
              <div class="user_details">
                <div class="unameinpro">

                  <h3>Tulsi Dholariya</h3>
                  <h4>@tulsi_dholariya</h4>
                </div>


                <div class="editpro">
                  <a  href="http://localhost:2081/editprof/editprof1" class="editproa"> Edit Profile </a>
                </div>
              </div>

              <div class="follow">
                <div class="flexthisdata">
                  <div class="lfmargin">

                    <img width="20" src="/public/files/1a83c828b67134a9b2ab348a0fb5d807" alt="calander">
                  </div>
                  <div class="joindate">

                    <h4>&nbsp&nbsp&nbspjoined March @2023</h4>
                  </div>
                </div>
                <div class="flexthisdata">
                  <div class="lfmargin">
                    <h4> <a class="countfollowing">0</a> Following&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp </h4>
                  </div>
                  <div>
                    <h4> <a class="countfollowers">0</a> Followers </h4>
                  </div>


                </div>
              </div>
            </div>

          </div>

          <!-- tweetbox ends -->

          <!-- post starts -->
          <div class="post">


            <div class="post-child">
              <div class="flexdatatwit">


                <div class="twitimg">

                  <img width="32px" class="tweetimg1" src="/public/files/1a83c828b67134a9b2ab348a0fb5d807" alt="img">
                </div>



                <div class="nameandtime">

                  <div class="flex1">

                    <div class="tweetname">

                      <h5 class="tweetnamed">
                        Tulsi Dholariya
                      </h5>
                    </div>
                    <div class="tweetid">
                      <h5 class="tweetidd">
                        @tulsi_dholariya
                      </h5>
                    </div>
                    <div class="tweettime">
                      <h5 class="tweettimed">
                        6hr
                      </h5>
                    </div>


                  </div>
                  <div class="tweetdatamain">

                    <h5 class="tweetdatatxt">
                      srgtjnasrtjn
                      
                    </h5>
                  </div>


                  <div class="tweetdata">
                    <div class="containicon">
                      <div class="containiconchild">

                        <div class="icons">
                          <div class="iconchild">
                            <?xml version="1.0" ?>
                            <!DOCTYPE svg
                              PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg
                              enable-background="new 0 0 512 512" height="20px" id="Layer_1" version="1.1"
                              viewBox="0 0 512 512" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <path
                                d="M170.476,166.19h155.097c4.285,0,7.76-3.469,7.76-7.754s-3.475-7.765-7.76-7.765H170.476c-4.285,0-7.754,3.48-7.754,7.765  S166.191,166.19,170.476,166.19z" />
                              <path
                                d="M348.088,203.362H202.74c-4.284,0-7.759,3.469-7.759,7.754s3.475,7.765,7.759,7.765h145.348c4.284,0,7.754-3.48,7.754-7.765  S352.372,203.362,348.088,203.362z" />
                              <path
                                d="M306.695,256.052H170.476c-4.285,0-7.754,3.469-7.754,7.754c0,4.284,3.469,7.754,7.754,7.754h136.219  c4.279,0,7.754-3.47,7.754-7.754C314.448,259.521,310.974,256.052,306.695,256.052z" />
                              <path
                                d="M396.776,86.288H115.225c-29.992,0-54.403,22.562-54.403,50.308v154.83c0,27.735,24.411,50.297,54.403,50.297h166.034  l119.812,83.989v-84.135c27.996-2.038,50.108-23.753,50.108-50.151v-154.83C451.179,108.85,426.768,86.288,396.776,86.288z   M427.906,291.426c0,14.902-13.972,27.025-31.131,27.025h-18.978v62.523l-89.193-62.523h-173.38  c-17.164,0-31.131-12.123-31.131-27.025v-154.83c0-14.913,13.967-27.035,31.131-27.035h281.551  c17.159,0,31.131,12.123,31.131,27.035V291.426z" />
                            </svg> </h5>

                          </div>
                        </div>

                        <div class="icons">
                          <div class="iconchild">
                            <?xml version="1.0" ?>
                            <!DOCTYPE svg
                              PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'><svg
                              enable-background="new 0 0 100 100" height="20px" id="Layer_1" version="1.1"
                              viewBox="0 0 100 100" width="20px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                              xmlns:xlink="http://www.w3.org/1999/xlink">
                              <g>
                                <defs>
                                  <rect height="100" id="SVGID_1_" width="100" />
                                </defs>
                                <path
                                  d="M23.102,76.5c-1.854,0-3.361-1.514-3.361-3.372V45.664L5,45.657l20.029-21.924l20.037,21.931   H30.305v20.235h15.85L56.541,76.5H23.102z M95,54.344H80.254V26.872c0-1.859-1.508-3.372-3.361-3.372H43.461L53.84,34.101h15.847   v20.235l-14.751,0.008l20.035,21.928L95,54.344z" />
                              </g>
                            </svg>



                          </div>
                        </div>


                        <div class="icons">
                          <div class="iconchild">

                            <i id="heart1" class="fa fa-heart" style="font-size:20px " onclick="likepost()"></i>
                            <h5><a class="likecount">5</a> likes</h5>
                          </div>

                        </div>



                      </div>
                    </div>




                  </div>









                </div>
              </div>
            </div>


          </div>



        </div>
      </div>


      <!-- feed ends -->

      <!-- widgets starts -->
      <div class="widgets">
  <%-include("staticpart2")-%>
      </div>
    </div>
  </div>
  <!-- widgets ends -->
  </div>
  <dialog id="moreoption">
    <div class="manubar">
      <a class="achange" href="http://localhost:8000/changepassword"> Change Password</a>
      <a class="achange" id="deleteac" onclick="deleteac()">Delete Account</a>
      <a class="achange" id="logoutac" onclick="logoutac()">Logout</a>

      <p class="cancel" onclick="dataout()">cancle</p>
    </div>
  </dialog>
  <script>

    function dataopt() {

      var data1 = document.getElementById('moreoption')
      data1.showModal()
    }
    function dataout() {
      var data1 = document.getElementById('moreoption')
      data1.close()
    }








    window.onscroll = function () { myFunction() };

    var header = document.getElementById("myHeader");


    var sticky = header.offsetTop;

    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }








    async function del(abc) {
      x = parseInt(abc)
      console.log(x)

      var text = "you really want to delte this record" + x;
      if (confirm(text) == true) {
        text = "you really want to delte this record", x;
        fetch('/delete?id=' + x, {
          method: 'post',
          headers: {
            "Content-type": 'application/json'
          },
          body: JSON.stringify({
            id: x
          })
        })

          .then(res => res.json())
          .then(data => {
            document.getElementById(x).style.display = 'none';
            //console.log(data.result.length);
            console.log(data)
            console.log("data delete sucesfully!!!!")
            location.reload()
          })
      }
    }


    // var likeobj = 0;
    var count = 0
    var flag = true
    function likepost() {
      var z = document.getElementById('heart1')
      count = 1

      if (flag == true) {
        z.style.color = 'red'
        flag = false;
      } else {
        z.style.color = '#e0e2e4'
        flag = true;
      }
    }
















    function dataopt() {

var data1 = document.getElementById('moreoption')
data1.showModal()
}
function dataout() {
var data1 = document.getElementById('moreoption')
data1.close()
}








window.onscroll = function () { myFunction() };

var header = document.getElementById("myHeader");


var sticky = header.offsetTop;

function myFunction() {
if (window.pageYOffset > sticky) {
  header.classList.add("sticky");
} else {
  header.classList.remove("sticky");
}
}


function logoutac() {


if (confirm("are your sure to logout") == true) {
      fetch(`/logout/logout`)
      location.assign(`/login/login/index5`)
      console.log("delete")
} else {
      alert("you cancel the delete");
}

}


async function deleteac() {

if (confirm("are your sure to Delete Account") == true) {
 const data=   await  fetch(`/deleteAccount/delete`);
 const data2 = await data.json();
 console.log(data2);
      window.location.href="/login/login/index5"
      console.log(data2);
} else {
      alert("you cancel the delete");
}

}


// var likeobj = 0;
var count=0
var flag=true
function likepost() {
  var z=document.getElementById('heart1')
  count=1
  
  if(flag==true){
      z.style.color='red'
    flag=false;
  }else{
    z.style.color='#e0e2e4'
    flag=true;
  }
}
  </script>
</body>

</html>