
      <!-- widgets starts -->
      <div class="widgets">
    
        <div class="input1  header1" id="myHeader1">
          <span class="material-icons widgets__searchIcon"> search </span>
          <input type="text" class="searchtext" placeholder="Search Twitter" />
        </div>

      </div>
    </div>
  </div>
  <!-- widgets ends -->
  </div>
 