<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tweet</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Profile</h2>

   <a href="/index1">Tweet</a>
    <%
        if(data){
            for(var i=0;i<data.length;i++){
    %>
        <h3>Heading:  <%=data[i].heading%></h3>
        <h4>Description: <%=data[i].description%></h4>
        <img src="<%=data[i].media_url%>" width="25%"/>
    <%
        }}else{
    %>


            <h1>welcome</h1>
    <%
        }
    %>
    <video width="320" height="240" controls>
        <source src="<%=data[2].media_url%>" type="video/mp4">
        Your browser does not support the video tag.
      </video>
</body>
</html>