<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
<script type="module" src="https://cdn.jsdelivr.net/npm/emoji-picker-element@^1/index.js"></script>

    <link rel="stylesheet" href="/css/tweet_post.css">
    <title>Document</title>
</head>

<body>
    <!-- <form action="/tweet/tweet_upload" onsubmit="return function_tweet()" enctype="multipart/form-data" method="post">
        <label for="text">Heading:</label>
        <textarea  id="text" name="heading"></textarea>
        <p id="err"></p>
        <br>
        <label for="textarea">Description:</label>
        <textarea  id="textarea1" name="desc"></textarea>
        <p id="err1"></p>
        <br>
        <img id="preview">
        <label for="image">Image:</label>
        <input type="file" id="image" name="img" onchange="previewImage(event)"/>
        <p id="err2"></p>
       <br>
    
        <input type="submit" value="submit"/>
    </form> -->
    <form action="/tweet/tweet_upload" onsubmit="return function_tweet()" enctype="multipart/form-data" method="post" class="formdata">
    <div class="alldata">

   
        <div class="container">
        <div class="post_row">
              <div class="text_col1">
                  <div class="img1">
                    <img src="/files/profile-img.png " class="imgprof"></div>
              </div>
             
        </div>
        <div class="happen">
          <textarea name="desc" maxlength="250" class="textarea1" placeholder="What's happening?" id="emoji123"></textarea>
          <p id="err1"></p>
        </div>
      <hr class="line">
      <div class="icgg">
        <img id="preview">
        <label for="image"><i class="fa-solid fa-image iconimg1"></i></label>
        <input type="file" id="image" name="img" onchange="previewImage(event)"/>
        <p id="err2"></p>
        <p onclick="abc()"><i class="fa-regular fa-face-smile  iconsmile1"></i></p>
        <emoji-picker></emoji-picker>
        </div>
        <div class="uploadpic">

                <input type="submit" value="Tweet" class="tweetbtn"/>
            </div>  
      </div>
    </div>
    </form>

    <script>
        document.querySelector('emoji-picker')
        .addEventListener('emoji-click', event => console.log(event.detail));
        
        document.querySelector('emoji-picker')
        .addEventListener('emoji-click', event => document.getElementById('emoji123').value += event.detail.unicode);
        
        document.querySelector('emoji-picker').style.display = "none";
        // document.querySelector('tweet').style.display = "none";
        
        function abc() {
        console.log("tulsi")
        if (document.querySelector('emoji-picker').style.display == "none") {
        document.querySelector('emoji-picker').style.display = "block";
        document.querySelector('.tweet').style.display = "none";
        }
        else {
        document.querySelector('emoji-picker').style.display = "none";
        document.querySelector('.tweet').style.display = "block";
        }
        }
        
        function function_tweet() {
        var tweet_text = document.getElementById("textarea1").value;
        var tweet_heading = document.getElementById("text").value;
        var tweet_image = document.getElementById("image");
        
        
        if (tweet_heading.length > 40) {
        document.getElementById("err1").innerHTML = "enter valid text";
        return false;
        }
        else {
        document.getElementById("err1").innerHTML = "";
        }
        
        if (tweet_text.length > 140) {
        document.getElementById("err1").innerHTML = "enter valid text";
        return false;
        }
        else {
        document.getElementById("err1").innerHTML = "";
        }
        
        var imgsize = Math.round(tweet_image.files[0].size / 1048576);
        if (imgsize > 2) {
        document.getElementById("err2").innerHTML = "upload image whose size is less than 2mb";
        return false;
        }
        else {
        document.getElementById("err1").innerHTML = "";
        }
        
        }
        
        const previewImage = (event) => {
        /**
        * Get the selected files.
        */
        const imageFiles = event.target.files;
        /**
        * Count the number of files selected.
        */
        const imageFilesLength = imageFiles.length;
        /**
        * If at least one image is selected, then proceed to display the preview.
        */
        if (imageFilesLength > 0) {
        /**
        * Get the image path.
        */
        const imageSrc = URL.createObjectURL(imageFiles[0]);
        /**
        * Select the image preview element.
        */
        const imagePreviewElement = document.querySelector("#preview");
        /**
        * Assign the path to the image preview element.
        */
        imagePreviewElement.src = imageSrc;
        /**
        * Show the element by changing the display value to "block".
        */
        imagePreviewElement.style.display = "block";
        }
        };
        </script>
</body>

</html>