.tweet{
    border:1px solid grey;
    margin:0 -16px;
}

.test_col_row
{
    /* padding-top:20px; */
    display:flex;
    /* flex-wrap: wrap; */
}
.text_col1{
    width: 15%;
    padding-left:20px;
}
.text_col2{
    width: 85%;
   
}
.img1 img{
    height:50px;
    width:50px;
}

.text_col2 a{
    color:black;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}
.skill
{
    margin-top:10px;
    max-width:500px;
}
.icon
{
    margin-top:20px;
}
.icon_row
{
    display: flex;
    flex-wrap: wrap;
 
}
.icon_col
{
    margin-left:50px;
    display: flex;
}
.icon_row p{
    margin-left:5px;
}
