/* body {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .container_inside{
    text-align: center;
} */
/* 
.container{
    display: flex;
    justify-content: center;
} */


/* h1 {
    color: skyblue;
}

input {
    padding: 10px 30px;
    margin: 10px;
}

.title {
    text-align: center;
} */



/* ------------------------------------------ */
/* .body-login{
    text-transform: capitalize;
    font-family: Arial;
    background-color: rgba(0,0,0,0.2);
    color: black;
    }
    .form1{
    position: absolute;
    top: 150px;
    left: 450px;
    text-align: center;
    
    }
    .signpage{
    
    background-color: #FFFFFF;
    color:black;
    border:1px solid white ;
    border-radius: 10px;
    width: 500px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;

    }



    .textdata{
    text-align: center;
    padding: 0 100px;
    line-height: 3;
    
    }
    .squre{
    height: 35px;
    width: 250px;
    border: 1px solid rgb(139, 137, 137);
    border-radius: 3px;
    margin: 10px 0px 0px 10px;
    }
    
    
    .twi{
    margin: 20px;
    text-align: center;
    }


    .submit-login{
    background-color: black;
    color:#ffffff;
    padding: 8px 20px;
    text-align: center;
    height: 40px;
    width: 250px;
    border: 1px solid rgb(139, 137, 137);
    border-radius: 23px;
    margin: 20px;
    }
    .aforlink{
    text-decoration: none;
    color: #857DF9;
    }
    
    .login-forgot{
    border: 1px solid rgb(139, 137, 137);
    border-radius: 23px;
    padding: 8px 65px;
    
    }
    .h1tag{
    margin: -16 0px;
    }
    .textdata{
    width: fit-content;
    block-size: fit-content;
    }
    .login-forgot:hover {
    background-color: rgba(0, 0, 0, 0.062);} */





/* --------------------------------------HOME------PAGE-------------------------------------- */

* {
    /* box-sizing: border-box; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
}
/* homepage bharti css */
/* .container {
    max-width: 84%;
    margin: 0 auto;
    padding: 0 16px;
} */

/* .column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
    Should be removed. Only for demonstration
} */

.col_nav {
    float: left;
    width: 22%;
    padding: 10px;
    margin-top: 20px;
    /* position: relative;
    position: sticky; */
}
.container {

   
    margin:0 auto;
    padding: 0 16px;
    border:1px solid grey;
}

.col_tweet {
    float: left;
    width: 48%;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.192);
    border-right: 1px solid rgba(0, 0, 0, 0.192);
}

#tweet_img
{
  max-width:450px;
    border-radius: 5px;
    margin-top:10px;
}
.tweet{
    border:1px solid grey;
    margin:0 -16px;
}

.test_col_row
{
    padding-top:20px;
    display:flex;
    flex-wrap: wrap;
}
.text_col1{
    width: 15%;
    padding-left:20px;
}
.text_col2{
    width: 85%;
   
}
.img1 img{
    height:50px;
    width:50px;
}

.text_col2 a{
    color:black;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}
.skill
{
    margin-top:10px;
    max-width:500px;
}
.icon
{
    margin-top:20px;
}
.icon_row
{
    display: flex;
    flex-wrap: wrap;
 
}
.icon_col
{
    margin-left:50px;
    display: flex;
}
.icon_row p{
    margin-left:5px;
}

/*  */



.row:after {
    content: "";
    display: table;
    clear: both;
}

/* css_change */
.container_main
{
    width:85%;
   
    margin:auto;
}
.home_row
{
    display:flex;
    flex-wrap:wrap
}
.home_tab1
{
    width:25%;
}

.home_tab2
{
    width:50%;
}
.home_tab3
{
    width:25%;
}
.tweet_p
{
    color:pink;
}
/* css_change_over */




/* .feed {
    overflow-y: scroll;
  }
  
  .feed__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
  }
  
  .feed__header h2 {
    font-size: 20px;
    font-weight: 800;
  }
  
  .feed::-webkit-scrollbar {
    display: none;
  }
  
  .feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
   */

/* .row{
    position: fixed; 
} */

.fa-twitter {
    color: #857DF9;
    margin-bottom: 7%;
    border: 1px solid grey;
    padding: 5%;
    border-radius: 50%;
    box-shadow: 4px 2px 5px rgb(197, 218, 224);
}

.fa-twitter:hover {
    box-shadow: 4px 2px 5px rgb(154, 168, 172);
}


.sidebarOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 5%;
}

.nav-icons {
    font-size: 23px;
    margin-right: 7%;
}

 
.tweet_tag a {
    color: black;
    font-size: 1.2rem;
}

.tweet_tag {
    margin-top: 30px;
}

.sidebarOption h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

/* .navi{
    
    position: sticky;
} */



/* .sidebarOption:hover {
    background-color: beige;
    border-radius: 30px;
    transition: color 20ms ease-out;
    width: 70%;
} */


.col_search {
   
    float: left;
   
    padding: 10px;
}
.searchprofile{
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
    margin-top:10px;
    width:112%;
    
}
.profileinfo1
{
    width:25%;
}


.profileinfo2
{
    width:50%;
    margin-top:10px; 

}
.profileinfo3
{
    width:25%;
    margin-top:13px;
        
}
.followbtn{
    text-decoration: none;
        background-color: #857DF9;
        border-radius: 10px;
        padding:5px; 
        cursor: pointer;

}
.profileinfo3 span{
    margin-top: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.widgets {
    flex: 0.7; 
}

.widgets__input {
    display: flex;
    align-items: center;
    border:1px solid black;
    /* background-color:#857df965; */
    padding: 10px;
    width: 112%;
    border: 2px solid #857df965;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
}

.widgets__input input {
    border:none;
    /* background-color: grey; */
    font-size: 1rem;
    margin-left: 10px;
    outline: none;
  /* border:1px solid red; */
    width:100%;  
    /* text-decoration: ; */

}

.widgets__searchIcon {
    color: rgb(24, 7, 7);
}




/* .container {
    margin: 0px;
    display: flex;
    flex-direction: row;
} */

/* .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 16px;
}


.navigation_section {
    border: 1px solid red;
}

.tweet_section {
    border: 1px solid green;
}

.search_section {
    border: 1px solid blue;
}

.na_raw{
    display: flex;
    flex-wrap: wrap;
    margin: 0px -16px;
}

.na_col{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
} */

.like_c{
    color:black;
}

.like_d{
    color: red;
}