.body-align {
    background: rgb(133,125,249);
    background: radial-gradient(circle, rgba(133,125,249,1) 16%, rgba(203,221,224,1) 100%);
    color: black;
}

.boxhover:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btnsubmit:hover {
    box-shadow: 5px 5px 13px inset #29255f;
    color: black;
}

.btnforget:hover {
   background-color: rgba(0, 0, 0, 0.212); 
   border: 2px solid rgba(0, 0, 0, 0.048);
   color: black;
}

.card {
    width: 100%;
    margin: 0 auto;
    margin-top: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
    border-radius: 2.5rem;
}

.card_profile_img {
    width: 100px;
    height: 100px;
    background: url("/css/twitter.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px -1.8px 0px 0px rgba(0, 0, 0, 0.15);
    border-radius: 120px;
    margin: 0 auto;
    margin-top: -45px;
}

.form1 {   
    width: 550px;
    border-radius: 2.5rem;
}

.whole-txt {
    text-align: center;
}

h2{
    font-family: sans-serif;
}


.boxhover {
    font-size: 0.9rem;
}

.btnforget {
    color: black;
    border-radius: 23px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #6e66d6;
    text-decoration: none;
    padding: 6px 0px;
    color: black;
    font-size: 0.9rem;
}


.btnsubmit{
    border-radius: 23px;
    background-color: #6e66d6;
    text-decoration: none;
    padding: 6px 0px;
    color:white;
    font-size: 0.9rem;
    border: 1px solid #6e66d6;
}

.links{
    text-decoration: none   ;
}

.minitxt {
    font-size: 0.9rem;
    color: rgba(128, 128, 128, 0.699);
    
}

.error_msg{
    color:red;
    font-size: 0.8rem;
}


.login__field {
    position: relative;
}

.login__icon {
    position: absolute;
    top: 15px;
    margin-left: 20px;
    color: #6e66d6;
}

.login__input {
    border: 2px solid #d1d1d4;
    background: none;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
    width: 75%;
    transition: 0.2s;
    font-size: 15px;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #6e66d6;
    transition: 0.4s;
}