.tweet{
   
   
}
body
{
    background-color: rgb(133,125,249);
background: radial-gradient(circle, rgba(133,125,249,1) 16%, rgba(203,221,224,1) 100%);
}

.test_col_row
{

    margin-top:20px;
    display:flex;
}
.text_col1{
    width: 15%;
    padding-left:20px;
}
.text_col2{
    width: 85%;
   
}
.img1 img{
    height:50px;
    width:50px;
}

.text_col2 a{
    color:black;
    text-decoration: none;
    font-size:20px;
    font-weight: bold;
}
.skill
{
    margin-top:10px;
    max-width:500px;
}
.icon
{
    margin-top:20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:fit-content;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}
.icon_row
{
    display: flex;
    flex-wrap: wrap;
 
}
.icon_col
{
    margin-left:50px;
    display: flex;
}
.icon_row p{
    margin-left:5px;
}

/* changes start */
.retweetContainer{

    position: absolute;
    top: 50%;
    left: 50%;
  padding: 30px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: translate(-50%, -50%) ;
    width: 500px;
    border-radius: 20px;
    background-color: white;
   
  }

  .tweetRetweet
  {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width:45%;
    margin-top:20px;
    margin-bottom:20px;
    padding:20px;
  }
  .retweetPost
  {
    
    margin-bottom:20px;
    width:fit-content;
    text-align: center;
    /* border: 2px solid; */
    background-color: #857DF9;
    border-radius: 30px;
    padding: 5px 45px;
    color:white;
    font-weight: bold;
    cursor: pointer;
  }
.retweetCard1 textarea
{
    border: none;
    font-size:15px;
    outline:none;
}
.retweetCard2
{
   padding-top:5px;
    margin-left:10px;
 padding-right:5px;
}
.fa-face-smile
{
    font-size:1.3rem;
    color:grey;
}
.top1
{
    /* padding-top:2%;
    padding-left:5%; */
    padding: 10px;
}
.top1:hover
{
    padding: 10px;
   
    width:fit-content;
    border-radius:50%;
    background-color: rgba(128, 128, 128, 0.199);
}
/* changes over */